<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr" />

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" sizes="72x72" href='{{ relURL "android-icon-72x72.png" }}' crossorigin=anonymous />
  <link rel="icon" type="image/png" sizes="72x72" href='{{ relURL "android-icon-72x72.png" }}' crossorigin=anonymous />
  <link rel="apple-touch-icon" type="image/png" sizes="72x72" href='{{ relURL "apple-icon-72x72.png" }}' crossorigin=anonymous />

  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1b1b1b" />

  <meta name="description" content="{{ .Title }}" />

  {{ with .OutputFormats.Get "rss" }}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" crossorigin=anonymous />` .Rel .MediaType.Type
  .Permalink $.Site.Title |
  safeHTML }}
  {{ end }}

  {{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end }}

  <!-- Prevent flicker on page load. -->
  <style>
    :root {
      --background: #ffffff;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --background: #1b1b1b;
      }
    }

    html {
      background-color: var(--background);
    }

    body {
      background-color: var(--background);
    }
  </style>

  {{ $styles := slice
  (resources.Get "css/main.css")
  (resources.Get "css/menu.css")
  (resources.Get "css/toc.css")
  (resources.Get "css/images.css")
  (resources.Get "css/post_meta.css")
  (resources.Get "css/search.css")
  (resources.Get "css/code.css")
  (resources.Get "css/tables.css")
  (resources.Get "css/misc.css")
  (resources.Get "css/misc.css") }}

  {{ $noop := .WordCount }}
  {{ if .Page.Store.Get "hasMath" }}
    {{ $styles = $styles | append (resources.Get "css/katex-swap.css") }}
  {{ end }}

  {{ $CSS := $styles | resources.Concat "css/styles.css" | minify }}
  <style>
  {{ $CSS.Content | safeCSS }}
  </style>

<body>
  {{ if not .Params.nomenu }}
  <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a tabindex="-1" class="menu-link" href="{{ .URL | relURL }}">{{ safeHTML .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
