<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" type="image/png" href='{{ relURL "favicon.png" }}'>
  <link rel="icon" type="image/png" sizes="32x32" href='{{ relURL " favicon-32x32.png" }}'>
  <link rel="icon" type="image/png" sizes="16x16" href='{{ relURL " favicon-16x16.png" }}'>
  <link rel="apple-touch-icon" sizes="180x180" href='{{ relURL "apple-touch-icon.png" }}'}>
  <link rel="manifest" href='{{ relURL "site.webmanifest" }}'>

  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1b1b1b" />

  <meta name="description" content="{{ .Title }}">

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end }}

  <!-- Prevent flicker on page load. -->
  <style>
    :root {
      --background: #ffffff;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --background: #1b1b1b;
      }
    }

    html {
      background-color: var(--background);
    }

    body {
      background-color: var(--background);
    }
  </style>

  {{ $CSS := slice
  (resources.Get "css/main.css")
  (resources.Get "css/menu.css")
  (resources.Get "css/toc.css")
  (resources.Get "css/images.css")
  (resources.Get "css/post_meta.css")
  (resources.Get "css/search.css")
  (resources.Get "css/code.css")
  (resources.Get "css/tables.css")
  (resources.Get "css/misc.css")
  | resources.Concat "styles.css" | minify }}
  <style>
    {{ $CSS.Content | safeCSS }}
  </style>

  {{ $noop := .WordCount }}
  {{ if .Page.Store.Get "hasMath" }}
  <link defer rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.css" integrity="sha256-OD57jUWjAD1sofhisySFSlSNp9YrSqtpEExE59EAIq8=" crossorigin="anonymous">
  {{ end }}


</head>

<body>
  {{ if not .Params.nomenu }}
  <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a tabindex="-1" class="menu-link" href="{{ .URL | relURL }}">{{ safeHTML .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
