<script>
window.store = {
    {{ range .Site.Pages }}
    "{{ .Permalink }}": {
        "title": "{{ .Title  }}",
        "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
        "content": {{ .Content | plainify }}, // Strip out HTML tags
        "url": "{{ .Permalink }}"
    },
    {{ end }}
}
</script>

<script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js" integrity="sha256-DFDZACuFeAqEKv/7Vnu1Tt5ALa58bcWZegGGFNgET8g=" crossorigin=anonymous defer></script>

{{ $js := resources.Get "js/search.js" | minify }}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      {{ $js.Content | safeJS }}
  });
</script>
