<script>
window.store = {
    {{ range .Site.Pages }}
    "{{ .Permalink }}": {
        "title": "{{ .Title  }}",
        "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
        "content": {{ .Content | plainify }}, // Strip out HTML tags
        "url": "{{ .Permalink }}"
    },
    {{ end }}
}
</script>

{{ if not .Site.Params.noSearch }}
    {{ with resources.Get "/js/lunr.js" }}
        {{ with . | minify | fingerprint "sha256" }}
        <script defer src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
        {{ end }}
    {{ end }}
    {{ with resources.Get "/js/search.js" }}
        {{ with . | minify | fingerprint "sha256" }}
        <script defer src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
        {{ end }}
    {{ end }}
{{ end }}
